<md-toolbar color="primary">Queue Your Music</md-toolbar>
<div style="display: flex; flex-direction: column">
  <span>
      <md-input-container>
        <input #url mdInput placeholder="URL here">
      </md-input-container>
      <button (click)="parseUrl(url.value)" color="primary" md-button>Submit</button>
  </span>
</div>

<app-youtube-player [videoID]="'gTAl6CTitNE'"></app-youtube-player>

<app-youtube-player [videoID]="'gTAl6CTitNE'" [width]="200"></app-youtube-player>

<app-youtube-player [videoID]="'gTAl6CTitNE'" [width]="200"></app-youtube-player>

<div id="player"></div>
